<?xml version="1.0" encoding="utf-8"?>
 <!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
      Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
      For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
 <robot name="hi_pro_27dof_260101">
  <mujoco>
    <compiler meshdir="../meshes/hi_pro/" balanceinertia="true" discardvisual="false" inertiafromgeom="false" fusestatic="false" />
  </mujoco>

   <link name="base_link">
     <inertial>
       <origin xyz="0.0 0.0 -0.03942155" rpy="0 0 0" />
       <mass value="1.45984798" />
       <inertia ixx="0.00289096" ixy="-4.61e-06" ixz="0.0" iyy="0.00139236" iyz="0.0" izz="0.00258794" />
     </inertial>
     <visual>
       <origin xyz="0 0 -0.47" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子髋部.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
        <origin xyz="0 0.0 -0.045" rpy="0 0 0" />
        <geometry>
          <box size="0.06 0.112 0.07"/> <!-- 单位：米，格式为"长 宽 高" -->
        </geometry>
      </collision>
      <collision>
        <origin xyz="0.0 0.0 -0.0058" rpy="0 0 0" />
        <geometry>
          <box size="0.06 0.112 0.010"/> <!-- 单位：米，格式为"长 宽 高" -->
        </geometry>
      </collision>
   </link>
   <link name="waist_yaw_link">
     <inertial>
       <origin xyz="-2.548e-05 0.00035522 0.00384517" rpy="0 0 0" />
       <mass value="0.70941216" />
       <inertia ixx="0.0005304" ixy="4.9e-07" ixz="9.1e-07" iyy="0.00047477" iyz="6.41e-06" izz="0.00049991" />
     </inertial>
     <visual>
       <origin xyz="0 0 -0.51" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子腰部.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子腰部.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="waist_yaw_joint" type="revolute">
     <origin xyz="0 0 0.02875" rpy="0 0 0" />
     <parent link="base_link" />
     <child link="waist_yaw_link" />
     <axis xyz="0 0 1" />
     <limit lower="-3.14" upper="3.14" effort="50" velocity="5.55" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="torso_link">
     <inertial>
       <origin xyz="-0.00684487 -4.343e-05 0.11131821" rpy="0 0 0" />
       <mass value="6.5" />
       <inertia ixx="0.0651291" ixy="1.361e-05" ixz="-0.00086504" iyy="0.04227586" iyz="0.00013732" izz="0.0386521" />
     </inertial>
     <visual>
       <origin xyz="0 0 -0.52" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子身体.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子身体.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="torso_joint" type="fixed">
     <origin xyz="0 0 0.02725" rpy="0 0 0" />
     <parent link="waist_yaw_link" />
     <child link="torso_link" />
     <axis xyz="0 0 0" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_shoulder_pitch_link">
     <inertial>
       <origin xyz="0.00032163 -0.0320058 0.00026818" rpy="0 0 0" />
       <mass value="0.47283368" />
       <inertia ixx="0.00028202" ixy="3.39e-06" ixz="1.13e-06" iyy="0.00027435" iyz="-5.5e-07" izz="0.00028856" />
     </inertial>
     <visual>
       <origin xyz="0 0.11 -0.7" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右肩.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右肩.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_shoulder_pitch_joint" type="revolute">
     <origin xyz="0 -0.11955 0.177" rpy="0 0 0" />
     <parent link="torso_link" />
     <child link="r_shoulder_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-3.12" upper="2.95" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_shoulder_roll_link">
     <inertial>
       <origin xyz="-0.00123196 7.715e-05 -0.06422227" rpy="0 0 0" />
       <mass value="0.52672559" />
       <inertia ixx="0.00047132" ixy="-1.72e-06" ixz="1.832e-05" iyy="0.00056727" iyz="0.0" izz="0.00028253" />
     </inertial>
     <visual>
       <origin xyz="0 0.145 -0.7" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右大臂.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右大臂.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_shoulder_roll_joint" type="revolute">
     <origin xyz="0 -0.034 0" rpy="0 0 0" />
     <parent link="r_shoulder_pitch_link" />
     <child link="r_shoulder_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-3.21" upper="0" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_upper_arm_link">
     <inertial>
       <origin xyz="3.373e-05 -0.00014998 -0.03036005" rpy="0 0 0" />
       <mass value="0.50065803" />
       <inertia ixx="0.00032775" ixy="-2.85e-06" ixz="4.42e-06" iyy="0.00032705" iyz="-4.79e-06" izz="0.00030518" />
     </inertial>
     <visual>
       <origin xyz="0 0.145 -0.6" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右肘.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右肘.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_upper_arm_joint" type="revolute">
     <origin xyz="-0.00025 0 -0.0977" rpy="0 0 0" />
     <parent link="r_shoulder_roll_link" />
     <child link="r_upper_arm_link" />
     <axis xyz="0 0 1" />
     <limit lower="-3.05" upper="3.05" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_elbow_link">
     <inertial>
       <origin xyz="-5.999e-05 0.00144328 -0.05232778" rpy="0 0 0" />
       <mass value="0.29640626" />
       <inertia ixx="0.0003667" ixy="1.7e-07" ixz="-2.9e-07" iyy="0.00027669" iyz="-1.35e-05" izz="0.00016057" />
     </inertial>
     <visual>
       <origin xyz="0 0.145 -0.565" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右小臂.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右小臂.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_elbow_joint" type="revolute">
     <origin xyz="0 0 -0.034" rpy="0 0 0" />
     <parent link="r_upper_arm_link" />
     <child link="r_elbow_link" />
     <axis xyz="0 1 0" />
     <limit lower="-1.57" upper="0" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_wrist_link">
     <inertial>
       <origin xyz="0.00031113 -0.00965773 -0.04211399" rpy="0 0 0" />
       <mass value="0.336903" />
       <inertia ixx="0.00029576" ixy="-4.7e-07" ixz="1.65e-06" iyy="0.00028304" iyz="5.046e-05" izz="0.00010215" />
     </inertial>
     <visual>
       <origin xyz="0 0.145 -0.478" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右手.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右手.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_wrist_joint" type="revolute">
     <origin xyz="0 0.00025 -0.0884" rpy="0 0 0" />
     <parent link="r_elbow_link" />
     <child link="r_wrist_link" />
     <axis xyz="0 0 1" />
     <limit lower="-3.14" upper="3.14" effort="10" velocity="15.91" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_shoulder_pitch_link">
     <inertial>
       <origin xyz="0.00094751 0.03197693 0.00070131" rpy="0 0 0" />
       <mass value="0.47283368" />
       <inertia ixx="0.00017936" ixy="-3.22e-06" ixz="2.11e-06" iyy="0.00016793" iyz="-1.9e-06" izz="0.00018201" />
     </inertial>
     <visual>
       <origin xyz="0 -0.11 -0.7" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左肩.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左肩.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_shoulder_pitch_joint" type="revolute">
     <origin xyz="0 0.11955 0.177" rpy="0 0 0" />
     <parent link="torso_link" />
     <child link="l_shoulder_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-3.12" upper="2.95" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_shoulder_roll_link">
     <inertial>
       <origin xyz="-0.00088467 -7.714e-05 -0.06422227" rpy="0 0 0" />
       <mass value="0.52672563" />
       <inertia ixx="0.00047132" ixy="6.2e-07" ixz="1.927e-05" iyy="0.00056756" iyz="0.0" izz="0.00028283" />
     </inertial>
     <visual>
       <origin xyz="0 -0.145 -0.7" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左大臂.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左大臂.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_shoulder_roll_joint" type="revolute">
     <origin xyz="0 0.034 0" rpy="0 0 0" />
     <parent link="l_shoulder_pitch_link" />
     <child link="l_shoulder_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-0.0" upper="3.21" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_upper_arm_link">
     <inertial>
       <origin xyz="-0.00037599 0.00073616 -0.03032778" rpy="0 0 0" />
       <mass value="0.50076077" />
       <inertia ixx="0.00022141" ixy="2.01e-06" ixz="1.61e-06" iyy="0.00022453" iyz="5.19e-06" izz="0.00019905" />
     </inertial>
     <visual>
       <origin xyz="0 -0.145 -0.6" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左肘.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左肘.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_upper_arm_joint" type="revolute">
     <origin xyz="-0.00025 0 -0.0977" rpy="0 0 0" />
     <parent link="l_shoulder_roll_link" />
     <child link="l_upper_arm_link" />
     <axis xyz="0 0 1" />
     <limit lower="-3.05" upper="3.05" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_elbow_link">
     <inertial>
       <origin xyz="5.999e-05 -0.00144328 -0.05232778" rpy="0 0 0" />
       <mass value="0.29640626" />
       <inertia ixx="0.0003667" ixy="1.7e-07" ixz="2.9e-07" iyy="0.00027669" iyz="1.35e-05" izz="0.00016057" />
     </inertial>
     <visual>
       <origin xyz="0 -0.145 -0.565" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左小臂.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左小臂.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_elbow_joint" type="revolute">
     <origin xyz="0 0 -0.034" rpy="0 0 0" />
     <parent link="l_upper_arm_link" />
     <child link="l_elbow_link" />
     <axis xyz="0 1 0" />
     <limit lower="-1.57" upper="0" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_wrist_link">
     <inertial>
       <origin xyz="-0.00031142 0.00965773 -0.04211401" rpy="0 0 0" />
       <mass value="0.336903" />
       <inertia ixx="0.00029576" ixy="-4.7e-07" ixz="-1.65e-06" iyy="0.00028305" iyz="-5.046e-05" izz="0.00010215" />
     </inertial>
     <visual>
       <origin xyz="0 -0.145 -0.478" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左手.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左手.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_wrist_joint" type="revolute">
     <origin xyz="0 -0.00025 -0.0884" rpy="0 0 0" />
     <parent link="l_elbow_link" />
     <child link="l_wrist_link" />
     <axis xyz="0 0 1" />
     <limit lower="-3.14" upper="3.14" effort="10" velocity="15.91" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="head_yaw_link">
     <inertial>
       <origin xyz="1.928e-05 -0.00206267 0.02191708" rpy="0 0 0" />
       <mass value="0.13850794" />
       <inertia ixx="2.15e-05" ixy="-2e-08" ixz="-3e-08" iyy="1.757e-05" iyz="-2.02e-06" izz="1.443e-05" />
     </inertial>
     <visual>
       <origin xyz="0 0 -0.795" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子脖子.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子脖子.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="head_yaw_joint" type="revolute">
     <origin xyz="0 0 0.2741" rpy="0 0 0" />
     <parent link="torso_link" />
     <child link="head_yaw_link" />
     <axis xyz="0 0 1" />
     <limit lower="-1.57" upper="1.57" effort="3" velocity="30.37" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="head_pitch_link">
     <inertial>
       <origin xyz="0.02907411 0.00081438 0.03003285" rpy="0 0 0" />
       <mass value="0.32588242" />
       <inertia ixx="0.00072749" ixy="2.77e-06" ixz="1.321e-05" iyy="0.00031587" iyz="2.4e-06" izz="0.0009339" />
     </inertial>
     <visual>
       <origin xyz="0 0 -0.82" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子头部.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子头部.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="head_pitch_joint" type="revolute">
     <origin xyz="0 0 0.0255" rpy="0 0 0" />
     <parent link="head_yaw_link" />
     <child link="head_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-1.7" upper="1.3" effort="3" velocity="30.37" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_hip_pitch_link">
     <inertial>
       <origin xyz="-0.00019077 -0.03987523 -0.00014063" rpy="0 0 0" />
       <mass value="0.67777702" />
       <inertia ixx="0.00019724" ixy="0.0" ixz="-9.5e-07" iyy="0.00020443" iyz="-5.3e-07" izz="0.00023767" />
     </inertial>
     <visual>
       <origin xyz="0 0.05 -0.434" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右胯.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右胯.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_hip_pitch_joint" type="revolute">
     <origin xyz="0 -0.0575 -0.04" rpy="0 0 0" />
     <parent link="base_link" />
     <child link="r_hip_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-3.04" upper="3.04" effort="50" velocity="5.55" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_hip_roll_link">
     <inertial>
       <origin xyz="0.00069725 -0.00117559 -0.07373583" rpy="0 0 0" />
       <mass value="1.26205847" />
       <inertia ixx="0.00232652" ixy="6.83e-06" ixz="-4.072e-05" iyy="0.00297116" iyz="-6.64e-06" izz="0.0015185" />
     </inertial>
     <visual>
       <origin xyz="0 0.0955 -0.42" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右膝盖.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右膝盖.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_hip_roll_joint" type="revolute">
     <origin xyz="0 -0.042 0" rpy="0 0 0" />
     <parent link="r_hip_pitch_link" />
     <child link="r_hip_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-2.76" upper="0.3" effort="50" velocity="5.55" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_thigh_link">
     <inertial>
       <origin xyz="0.00149099 0.00077227 -0.03098887" rpy="0 0 0" />
       <mass value="0.35917976" />
       <inertia ixx="0.0005798" ixy="9e-08" ixz="-1.6e-06" iyy="0.00040578" iyz="8.18e-06" izz="0.00046936" />
     </inertial>
     <visual>
       <origin xyz="0 0.0956 -0.31" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右大腿.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右大腿.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_thigh_joint" type="revolute">
     <origin xyz="0 0 -0.123" rpy="0 0 0" />
     <parent link="r_hip_roll_link" />
     <child link="r_thigh_link" />
     <axis xyz="0 0 1" />
     <limit lower="-0.79" upper="0.79" effort="50" velocity="5.55" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_calf_link">
     <inertial>
       <origin xyz="0.00044774 -0.0037504 -0.06929722" rpy="0 0 0" />
       <mass value="1.7553579" />
       <inertia ixx="0.00724775" ixy="-3.194e-05" ixz="5.656e-05" iyy="0.00731311" iyz="-6.613e-05" izz="0.00106429" />
     </inertial>
     <visual>
       <origin xyz="0 0.095 -0.23" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右小腿.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右小腿.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_calf_joint" type="revolute">
     <origin xyz="0 0 -0.069" rpy="0 0 0" />
     <parent link="r_thigh_link" />
     <child link="r_calf_link" />
     <axis xyz="0 1 0" />
     <limit lower="0" upper="1.9" effort="50" velocity="5.55" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_ankle_pitch_link">
     <inertial>
       <origin xyz="0.0 -8.68e-06 0.0" rpy="0 0 0" />
       <mass value="0.05947883" />
       <inertia ixx="5e-06" ixy="0.0" ixz="0.0" iyy="4.8e-06" iyz="0.0" izz="6.39e-06" />
     </inertial>
     <visual>
       <origin xyz="0 0.095 -0.03" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右脚链.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右脚链.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_ankle_pitch_joint" type="revolute">
     <origin xyz="0 0 -0.19945" rpy="0 0 0" />
     <parent link="r_calf_link" />
     <child link="r_ankle_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-0.91" upper="0.79" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="r_ankle_roll_link">
     <inertial>
       <origin xyz="0.01591014 -0.00216181 -0.02562691" rpy="0 0 0" />
       <mass value="0.41707792" />
       <inertia ixx="0.00019617" ixy="-7.95e-06" ixz="7.495e-05" iyy="0.0008835" iyz="2.12e-05" izz="0.00090423" />
     </inertial>
     <visual>
       <origin xyz="0 0.095 -0.0294" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右脚.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子右脚.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="r_ankle_roll_joint" type="revolute">
     <origin xyz="0 0 0" rpy="0 0 0" />
     <parent link="r_ankle_pitch_link" />
     <child link="r_ankle_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-0.38" upper="0.38" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_hip_pitch_link">
     <inertial>
       <origin xyz="-0.00019077 0.03987523 2.398e-05" rpy="0 0 0" />
       <mass value="0.67777702" />
       <inertia ixx="0.00019725" ixy="0.0" ixz="-7.6e-07" iyy="0.00020445" iyz="-4.2e-07" izz="0.00023767" />
     </inertial>
     <visual>
       <origin xyz="0 -0.05 -0.434" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左胯.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左胯.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_hip_pitch_joint" type="revolute">
     <origin xyz="0 0.0575 -0.04" rpy="0 0 0" />
     <parent link="base_link" />
     <child link="l_hip_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-3.04" upper="3.04" effort="50" velocity="5.55" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_hip_roll_link">
     <inertial>
       <origin xyz="0.00098774 0.00108843 -0.07374631" rpy="0 0 0" />
       <mass value="1.26062099" />
       <inertia ixx="0.00232249" ixy="-2.52e-06" ixz="-4.57e-05" iyy="0.00296707" iyz="6.06e-06" izz="0.00151545" />
     </inertial>
     <visual>
       <origin xyz="0 -0.0955 -0.42" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左膝盖.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左膝盖.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_hip_roll_joint" type="revolute">
     <origin xyz="0 0.042 0" rpy="0 0 0" />
     <parent link="l_hip_pitch_link" />
     <child link="l_hip_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-0.3" upper="2.76" effort="50" velocity="5.55" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_thigh_link">
     <inertial>
       <origin xyz="0.0015176 -0.00034305 -0.03098887" rpy="0 0 0" />
       <mass value="0.35917976" />
       <inertia ixx="0.00057997" ixy="-5.4e-07" ixz="-1.59e-06" iyy="0.00040584" iyz="-7.29e-06" izz="0.0004696" />
     </inertial>
     <visual>
       <origin xyz=" 0 -0.0956 -0.31" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左大腿.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左大腿.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_thigh_joint" type="revolute">
     <origin xyz="0 0 -0.123" rpy="0 0 0" />
     <parent link="l_hip_roll_link" />
     <child link="l_thigh_link" />
     <axis xyz="0 0 1" />
     <limit lower="-0.79" upper="0.79" effort="50" velocity="5.55" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_calf_link">
     <inertial>
       <origin xyz="0.00059606 0.00376413 -0.06910119" rpy="0 0 0" />
       <mass value="1.75535789" />
       <inertia ixx="0.00721773" ixy="3.839e-05" ixz="4.179e-05" iyy="0.00728109" iyz="6.838e-05" izz="0.00106528" />
     </inertial>
     <visual>
       <origin xyz="0 -0.095 -0.23" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左小腿.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左小腿.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_calf_joint" type="revolute">
     <origin xyz="0 0 -0.069" rpy="0 0 0" />
     <parent link="l_thigh_link" />
     <child link="l_calf_link" />
     <axis xyz="0 1 0" />
     <limit lower="0" upper="1.9" effort="50" velocity="5.55" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_ankle_pitch_link">
     <inertial>
       <origin xyz="0.0 0.0 0.0" rpy="0 0 0" />
       <mass value="0.05947883" />
       <inertia ixx="4.99e-06" ixy="0.0" ixz="0.0" iyy="4.8e-06" iyz="0.0" izz="6.39e-06" />
     </inertial>
     <visual>
       <origin xyz="0 -0.095 -0.03" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左脚链.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左脚链.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_ankle_pitch_joint" type="revolute">
     <origin xyz="0 0 -0.19945" rpy="0 0 0" />
     <parent link="l_calf_link" />
     <child link="l_ankle_pitch_link" />
     <axis xyz="0 1 0" />
     <limit lower="-0.91" upper="0.79" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
   <link name="l_ankle_roll_link">
     <inertial>
       <origin xyz="0.01591014 0.00220757 -0.02562691" rpy="0 0 0" />
       <mass value="0.41707792" />
       <inertia ixx="0.00019609" ixy="7.39e-06" ixz="7.495e-05" iyy="0.0008835" iyz="-2.1e-05" izz="0.00090415" />
     </inertial>
     <visual>
       <origin xyz="0 -0.095 -0.0294" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左脚.glb" />
       </geometry>
       <material name="">
         <color rgba="0.752941176470588 0.752941176470588 0.752941176470588 1" />
       </material>
     </visual>
     <collision>
       <origin xyz="0 0 0" rpy="0 0 0" />
       <geometry>
         <mesh filename="meshes/hi_pro/小原子左脚.glb" />
       </geometry>
     </collision>
   </link>
   <joint name="l_ankle_roll_joint" type="revolute">
     <origin xyz="0 0 0" rpy="0 0 0" />
     <parent link="l_ankle_pitch_link" />
     <child link="l_ankle_roll_link" />
     <axis xyz="1 0 0" />
     <limit lower="-0.38" upper="0.38" effort="20" velocity="5.45" />
     <dynamics damping="0.02" friction="0.0"/> <!-- 即使很小的阻尼也能极大改善稳定性 -->
   </joint>
 </robot>